body {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
}

.game-board {
    width: 40rem;
    height: 40rem;
    margin: 5rem auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.space {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}